{% extends "admin/base.html" %}
{% load i18n admin_urls static admin_modify %}

{% block title %}Mysite Admin Panel{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">KTR Dashboard</a></h1>
{% endblock %}

{% block content %}
<h1>Add products</h1>
<h2>Invoice number: {{ invoice_data.invoice_date }}</h2>
<h2>Invoice date: {{ invoice_data.invoice_number }}</h2>
<br />
<form id="form-container" method="POST" action=".">
    {% csrf_token %}
    {{ product_formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table id="formset" class="form">
    {% for form in product_formset %}
        {% if forloop.first %}
            <thead><tr>
                {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                {% endfor %}
                <th></th>
            </tr></thead>
        {% endif %}
        <tr class="form-row">
            {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
            {% endfor %}
            <td><button style="color: red; cursor: pointer;" class="remove-form-row">🗑</button></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Add Products" class="default">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type='text/javascript'>
    
    function deleteForm(prefix, btn) {
        console.log(btn.closest('.form-row'))
        btn.closest('.form-row').remove();
        return false;
    }
    
    $('.remove-form-row').on('click', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
</script>
{% endblock %}



