{% extends "admin/base.html" %}
{% load i18n admin_urls static admin_modify %}

{% block title %}Mysite Admin Panel{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">KTR Dashboard</a></h1>
{% endblock %}

{% block content %}
<div>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload File</button>
    </form>
</div>
{% endblock %}

